<div class="container">
  <div class="ro">
    <div class="col-xs-12">
      <h3>This is my app.component.html file</h3>
      <hr>
      <app-server *ngFor="let server of servers"></app-server>
      <!--<app-server></app-server>
      <app-server></app-server>-->
      <app-servers></app-servers>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <button class="btn btn-primary" (click)="toggleDisplayOptions()">Display Details</button>
      <p *ngIf="paraToDisplay">{{para}}</p>
      <ul>
        <li *ngFor="let click of logClicks">{{click}}</li>
      </ul>
    </div>
  </div>
</div>

